<div class="mobile-logo-tray"><span></span></div>

<div class="mobile-tab-tray">
    <button type="button" class="x-icon" aria-label="Scroll to airspace" data-target="#xswiper">
        <span aria-hidden="true" class="aerocism-ico-plane-1"></span>
    </button>
    <button type="button" class="x-icon" aria-label="Scroll to qoute" data-target="#quote">
        <span aria-hidden="true" class="aerocism-ico-penta-1"></span>
    </button>
    <button type="button" class="x-icon" aria-label="Scroll to shots" data-target="#gallery">
        <span aria-hidden="true" class="aerocism-ico-grid-1"></span>
    </button>
    <button type="button" class="x-icon" aria-label="Scroll to about" data-target="#about">
        <span aria-hidden="true" class="aerocism-ico-about-1"></span>
    </button>
    <button type="button" class="x-icon" aria-label="Scroll to contact" data-target="#contact">
        <span aria-hidden="true" class="aerocism-ico-contact-1"></span>
    </button>

    <button id="audio-fab" class="audio-fab" type="button" aria-label="Play audio">
        <span class="audio-fab__ring" aria-hidden="true">
            <svg class="audio-fab__svg" viewBox="0 0 200 200" aria-hidden="true" focusable="false">
                <defs>
                    <path id="audioTextCircle" d="M100,100 m-74,0 a74,74 0 1,1 148,0 a74,74 0 1,1 -148,0" />
                </defs>

                <text class="audio-fab__svgText">
                    <textPath href="#audioTextCircle" startOffset="0%">
                        SOUND OF FREEDOM •
                    </textPath>
                    <textPath href="#audioTextCircle" startOffset="50%">
                        SOUND OF FREEDOM •
                    </textPath>
                </text>
            </svg>
        </span>
        <span class="x-icon" aria-hidden="true"><span>sound_sampler</span></span>
    </button>
</div>