<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<defaultDocument>
			<files>
				<add value="index.html" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>