<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="assets">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="poster">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="X-Robots-Tag" value="noindex, nofollow, noarchive, nosnippet" />
          <add name="Cache-Control" value="no-store, max-age=0" />
        </customHeaders>
      </httpProtocol>
      <defaultDocument enabled="true">
        <files>
          <clear />
          <add value="index.html" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
        <remove fileExtension=".json" />
        <remove fileExtension=".svg" />
        <remove fileExtension=".webp" />
        <mimeMap fileExtension=".svg"  mimeType="image/svg+xml" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Poster clean route" stopProcessing="true">
          <match url="^poster/?$" />
          <action type="Rewrite" url="poster/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
