/* #region -----------------/ Font-Face - Start /----------------- */
@font-face {
    font-family: 'BX-O';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url(/assets/fonts/custom/OCRAExtended.eot) format("eot"), url(/assets/fonts/custom/OCRAExtended.woff) format("woff"), url(/assets/fonts/custom/OCRAExtended.ttf) format("truetype");
}

@font-face {
    font-family: 'BX-H';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url(/assets/fonts/custom/bx-heading.eot?) format("eot"), url(/assets/fonts/custom/bx-heading.woff) format("woff"), url(/assets/fonts/custom/bx-heading.woff2) format("woff2"), url(/assets/fonts/custom/bx-heading.ttf) format("truetype");
}

@font-face {
    font-family: 'BX-Official-Font';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url(/assets/fonts/custom/bx-official-font.ttf) format("truetype");
}
/* #endregion ----------------- */
