<!-- Command bar -->
<header class="warzone-commandbar">
    <div class="warzone-region-bar">
        <span class="warzone-region-bar__label static-icon">
            <span class="bx-web-ico-website-R1_0" aria-hidden="true"></span>
        </span>

        <div class="wz-selector">
            <select aria-label="Select conflict lens" class="wz--dropdown" id="wz-lens-nav">
                <option value="live">Current Ongoing Conflicts</option>
                <option value="standoff">Long-Standing Standoffs</option>
                <option value="flashpoint">Global Flashpoints</option>
                <option value="all">All Events</option>
            </select>
        </div>

        <div class="wz-selector">
            <select aria-label="Select monitoring region" aria-required="true" class="wz--dropdown" id="wz-region-nav"></select>
        </div>
    </div>
    <div class="warzone-brand">
        <a href="/" aria-label="stratops visualization board" class="warzone-logo">
            <img src="/assets/images/web/logo-stratops-battlespacex.svg" alt="StratOps logo" class="nav__logo" width="380" height="100" fetchpriority="high" decoding="async">
        </a>
    </div>

    <div class="warzone-actions">
        <div class="warzone-top-tabs">
            <button class="top-tab is-active" data-view="strikes">Strikes</button>
            <button class="top-tab" data-view="analytics">Analytics</button>
        </div>
        <div class="warzone-brand-actions">
           <!-- <a class="icon-chip" href="https://t.me/strikemaplive" target="_blank" rel="noopener noreferrer" aria-label="Telegram">TG</a>-->
            <ul itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.facebook.com/battlespacex" itemprop="url" title="Facebook page" class="action-icon bx-web-ico-fb-1-0"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://twitter.com/battlespacex" itemprop="url" title="Twitter X page" class="action-icon bx-web-ico-X-1-0"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.instagram.com/battlespacex" itemprop="url" title="Instagram page" class="action-icon bx-web-ico-insta-1-0"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.threads.net/@battlespacex" itemprop="url" title="Insta Thread page" class="action-icon bx-web-ico-th-1-1"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.youtube.com/@battlespacex" itemprop="url" title="Youtube channel" class="action-icon bx-web-ico-yt-1-0"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.linkedin.com/company/battlespacex/" itemprop="url" title="Linkedin page" class="action-icon bx-web-ico-in-1-1"></a></li>
                <li itemscope="" itemtype="http://schema.org/ListItem"><a href="https://www.flipboard.com/@battlespacex" itemprop="url" title="Flipboard news page" class="action-icon bx-web-ico-flip-1-1"></a></li>
            </ul>
            <button class="support-chip">♥ Support</button>
        </div>
    </div>
</header>