<!-- Essentials -->
<meta name="referrer" content="strict-origin-when-cross-origin" />
<meta name="color-scheme" content="dark light" />
<meta name="format-detection" content="telephone=no" />
<meta name="theme-color" content="#0F172A" />

<meta name="author" content="Aerocism" />
<meta name="copyright" content="Aerocism" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aerocism" />
<meta property="og:locale" content="en_CA" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@aerocism" />
<meta name="twitter:creator" content="@aerocism" />

<link rel="icon" href="/assets/images/fav/favicon.ico" sizes="any" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/fav/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/fav/apple-icon-180x180.png" />
<link rel="manifest" href="/assets/images/fav/site.webmanifest" />
