<div class="warzone-map-shell">
    <div id="warzone-globe" class="warzone-globe"></div>
    <div id="warzone-hotspot-layer" class="warzone-hotspot-layer"></div>

    <div class="wz-target-overlay" aria-hidden="true">
        <span class="wz-target-overlay__corner wz-target-overlay__corner--tl"></span>
        <span class="wz-target-overlay__corner wz-target-overlay__corner--tr"></span>
        <span class="wz-target-overlay__corner wz-target-overlay__corner--bl"></span>
        <span class="wz-target-overlay__corner wz-target-overlay__corner--br"></span>
    </div>
</div>